In [14]:
#1. How-to-count-distance-to-the-previous-zero 
# For each value, count the difference of the distance from the previous zero (or the start 
# of the Series, whichever is closer)  and if there are no previous zeros,print the position  
# Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
# The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

In [2]:
import numpy as np
import pandas as pd 

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}) 

x = (df['X'] != 0).cumsum() # getting cumulative sum of X in dataframe
y = (x != x.shift())  # x.shift() - Shift x index by period of 1
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum() # New Column
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

In [ ]:
#2.Create a DatetimeIndex that contains each business day of 2015 and use it to index a  
# Series of random numbers.

In [3]:
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')  #DatetimeIndex that contains each business day (B) of 2015 
s = pd.Series(np.random.rand(len(dti)), index=dti) # Indexing Series of random numbers with DatetimeIndex
s.head(5)

2015-01-01    0.946674
2015-01-02    0.760596
2015-01-05    0.480484
2015-01-06    0.793022
2015-01-07    0.828051
Freq: B, dtype: float64

In [21]:
#3. Find the sum of the values in s for every Wednesday

s[dti.weekday == 2].sum()  # Value for Wednesday is 2 when starting from monday

27.451473021729598

In [23]:
#4. Average For each calendar month 
s.resample('M').mean() # Resampling month and getting mean

2015-01-31    0.451616
2015-02-28    0.525276
2015-03-31    0.605587
2015-04-30    0.536748
2015-05-31    0.394883
2015-06-30    0.430985
2015-07-31    0.512414
2015-08-31    0.512285
2015-09-30    0.508276
2015-10-31    0.573949
2015-11-30    0.522818
2015-12-31    0.550335
Freq: M, dtype: float64

In [ ]:
#5. For each group of four consecutive calendar months in s, find the date on which the      
# highest value occurred.

In [26]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-14
2015-05-31   2015-03-03
2015-09-30   2015-09-02
2016-01-31   2015-10-01
dtype: datetime64[ns]